{{define "/chat/foot.shtml"}}
<script>
    function upload(dom) {
        uploadFile("attach/upload", dom, function (res) {
            if (res.code == 0) {
                app.sendPicMsg(res.data)
            }
        })
    }

    function userId() {
        return parseInt(util.parseQuery("id"))
    }

    var app = new Vue(
        {
            el: "#pageApp",
            data: {
                userMap: {},
                friends: [],
                communities: [],
                profile: {
                    avatar: "",
                    nickname: "",
                    memo: "",
                },
                websocket: {},
                win: "main",
                txtMsg: "",
                panelStat: "kbord",
                txtStat: "kbord",
                title: "",
                doutu: {
                    config: {
                        "baseurl": "/asset/plugin/doutu/",
                        "pkgIds": ["mk-gif", "emoji"]
                    },
                    packages: [],
                    choosed: { "pkgId": "emoji", "assets": [], "size": "small" }
                },
                msgList: [],
                msgContext: {
                    dstId: 10,
                    cmd: 10,
                    userId: userId()
                },
                plugins: [
                    {
                        icon: "/asset/image/upload.png",
                        name: "照片",
                        id: "upload",
                        slot: "<input accept=\"image/gif,image/jpeg,,image/png\" type=\"file\" onchange=\"upload(this)\" class='upload' />"
                    },
                    {
                        icon: "/asset/image/camera.png",
                        name: "拍照",
                        id: "camera",
                        slot: "<input accept=\"image/*\" capture=\"camera\" type=\"file\" onchange=\"upload(this)\" class='upload' />"
                    },
                    {
                        icon: "/asset/image/audiocall.png",
                        name: "语音",
                        id: "audioCall"
                    },
                    {
                        icon: "/asset/image/videocall.png",
                        name: "视频",
                        id: "videoCall"
                    },
                    {
                        icon: "/asset/image/redpackage.png",
                        name: "红包",
                        id: "redPackage"
                    },
                    {
                        icon: "/asset/image/exchange.png",
                        name: "转账",
                        id: "exchange"
                    },
                    {
                        icon: "/asset/image/address.png",
                        name: "地址",
                        id: "address"
                    },
                    {
                        icon: "/asset/image/person.png",
                        name: "名片",
                        id: "person"
                    }
                ],
                timer: 0,
                recorder: {},
                allChunks: [],
                isComplete: false,
                duration: 0,
                showProcess: false,
            },
            created: function () {
                this.loadFriends();
                this.loadCommunities();
                this.loadDoutu();
                var user = userInfo()
                if (!!user) {
                    this.profile.avatar = user.avatar;
                    this.profile.nickname = user.nickname;
                    this.profile.memo = user.memo;
                }

                this.initWebsocket()
            },
            mounted: function () {
            },
            methods: {
                playAudio: function (url) {
                    document.getElementById('audio4play').src = url;
                    document.getElementById('audio4play').play();
                },
                startRecorder: function () {
                    let audioTarget = document.getElementById('audio');
                    var types = [
                        "video/webm",
                        "audio/webm",
                        "video/webm\;codecs=vp8",
                        "video/webm\;codecs=daala",
                        "video/webm\;codecs=h264",
                        "audio/webm\;codecs=opus",
                        "video/mpeg"
                    ];
                    var suportType = "";
                    for (var i in types) {
                        if (MediaRecorder.isTypeSupported(types[i])) {
                            suportType = types[i];
                        }
                    }
                    if (!suporttype) {
                        mui.toast("编码不支持...")
                        return;
                    }

                    this.duration = new Date().getTime();
                    navigator.mediaDevices.getUserMedia({ audio: true, video: false })
                        .then(function (stream) {
                            this.showProcess = true
                            this.recorder = new MediaRecorder(stream);
                            audioTarget.srcObject = stream;
                            this.recorder.onDataAvailable = (event) => {
                                console.log("data available start...");
                                uploadBlob("attach/upload", event.data, ".mp3", res => {
                                    var duration = Math.ceil((new Date().getTime() - this.duration) / 1000);
                                    this.sendAudioMsg(res.data, duration);
                                })
                                stream.getTracks().forEach(function (track) {
                                    track.stop();
                                });
                                this.showProcess = false
                                console.log("data available end...");
                            }
                            this.recorder.start();
                        }.bind(this)).catch(function (err) {
                            console.log(err)
                            mui.toast(err)
                            this.showProcess = false
                        }.bind(this));
                },
                stopRecorder: function () {
                    console.log("stop recorder start...")
                    if (typeof this.recorder.stop == "function") {
                        this.recorder.stop();
                    }
                    this.showProcess = false
                    console.log("stop recorder end...")
                },
                dispatchPlugin: function (item) {
                    switch (item.id) {
                        case "upload":
                        case "camera":
                            break;
                        default:
                            mui.toast("系统暂不支持,请自行扩展...")
                    }
                },
                reset: function () {
                    this.panelStat = "kbord";
                    this.txtStat = "kbord";
                    this.txtMsg = "";
                },
                createMsgContext: function () {
                    return JSON.parse(JSON.stringify(this.msgContext))
                },
                loadDoutu: function () {
                    var res = [];
                    var config = this.doutu.config;
                    for (var i in config.pkgIds) {
                        res[config.pkgIds[i]] = (config.baseurl + "/" + config.pkgIds[i] + "/info.json")
                    }
                    var that = this;
                    for (var id in res) {
                        // console.log("res[i]", id, res[id])
                        post(res[id], {}, function (pkgInfo) {
                            // console.log("post res[i]", id, res[id], pkgInfo)
                            var baseurl = config.baseurl + "/" + pkgInfo.id + "/"
                            for (var j in pkgInfo.assets) {
                                pkgInfo.assets[j] = baseurl + pkgInfo.assets[j];
                            }
                            pkgInfo.icon = baseurl + pkgInfo.icon;
                            that.doutu.packages.push(pkgInfo)
                            if (that.doutu.choosed.pkgId == pkgInfo.id) {
                                that.doutu.choosed.assets = pkgInfo.assets;
                            }
                        })
                    }
                },
                showWeixin: function () {
                    mui.alert("请加微信号索取...")
                },
                showMsg: function (user, msg) {
                    var data = {}
                    data.isMine = userId() == msg.userId;
                    // console.log(data.isMine, userId(), msg.userId)
                    data.user = user;
                    data.msg = msg;
                    this.msgList = this.msgList.concat(data)
                    this.reset();
                    var that = this;
                    that.timer = setTimeout(function () {
                        window.scrollTo(0, document.getElementById("convo").offsetHeight);
                        clearTimeout(that.timer)
                    }, 100)
                },
                startRecord: function () {
                },
                sendTxtMsg: function (txt) {
                    // {id:1, userId:2, dstId:3, cmd:10, media:1, content:"hello"}
                    var msg = this.createMsgContext();
                    msg.media = 1;
                    msg.content = txt;
                    this.showMsg(userInfo(), msg);
                    this.websocket.send(JSON.stringify(msg))
                },
                sendPicMsg: function (picurl) {
                    // {id:1, userId:2, dstId:3, cmd:10, media:4, url:"http://www.baidu.com/a/log.jpg"}
                    var msg = this.createMsgContext();
                    msg.media = 4;
                    msg.url = picurl;
                    this.showMsg(userInfo(), msg)
                    this.websocket.send(JSON.stringify(msg))
                },
                sendAudioMsg: function (url, num) {
                    // {id:1, userId:2, dstId:3, cmd:10, media:3, url:"http://www.baidu.com/dsturl.mp3", anount:40}
                    var msg = this.createMsgContext();
                    msg.media = 3;
                    msg.url = url;
                    msg.amount = num;
                    this.showMsg(userInfo(), msg)
                    // console.log("sendAudioMsg",this.msgList);
                    this.websocket.send(JSON.stringify(msg))
                },
                singleMsg: function (user) {
                    // console.log(user)
                    this.win = "single";
                    this.title = "和" + user.nickname + "聊天中";
                    this.msgContext.dstId = parseInt(user.id);
                    this.msgContext.cmd = 10;
                },
                groupMsg: function (group) {
                    this.win = "group";
                    this.title = group.name;
                    this.msgContext.dstId = parseInt(group.id);
                    this.msgContext.cmd = 11;
                },
                loadUserInfo: function (userId, cb) {
                    userId = "" + userId;
                    var userInfo = this.userMap[userId];
                    if (!userInfo) {
                        post("user/find", { id: parseInt(userId) }, function (res) {
                            cb(res.data);
                            this.userMap[userId] = res.data;
                        }.bind(this))
                    } else {
                        cb(userInfo)
                    }
                },
                onMessage: function (data) {
                    this.loadUserInfo(data.userId, function (user) {
                        this.showMsg(user, data)
                    }.bind(this))
                },
                initWebsocket: function () {
                    var url = "wss://" + location.host + "/chat?id=" + util.parseQuery("id") + "&token=" + util.parseQuery("token");
                    this.websocket = new WebSocket(url);
                    // 消息处理
                    this.websocket.onmessage = function (evt) {
                        // {"data":"}",...}
                        if (evt.data.indexOf("}") > -1) {
                            this.onMessage(JSON.parse(evt.data));
                        } else {
                            console.log("recv <== " + evt.data)
                        }
                    }.bind(this)
                    // 关闭回调
                    this.websocket.onclose = function (evt) {
                        console.log(evt.data)
                    }
                    // 出错回调
                    this.websocket.onerror = function (evt) {
                        console.log(evt.data)
                    }
                    // {
                    //     this.websocket.send()
                    // }
                },
                sendMsg: function () {
                },
                loadFriends: function () {
                    var that = this;
                    post("contact/load-friends", { userId: userId() }, function (res) {
                        that.friends = res.rows || [];
                        var userMap = this.userMap;
                        for (var i in res.rows) {
                            var k = "" + res.rows[i].id
                            userMap[k] = res.rows[i];
                        }
                        this.userMap = userMap;
                    }.bind(this))
                },
                loadCommunities: function () {
                    var that = this;
                    post("contact/load-communities", { userId: userId() }, function (res) {
                        that.communities = res.rows || [];
                    })
                },
                addFriend: function () {
                    var that = this;
                    mui.prompt('', '请输入好友ID', '加好友', ['取消', '确认'], function (e) {
                        if (e.index == 1) {
                            if (isNaN(e.value) || e.value <= 0) {
                                mui.toast('格式错误...');
                            } else {
                                // mui.toast(e.value);
                                that._addFriend(e.value)
                            }
                        } else {
                            // mui.toast('您取消了入库');
                        }
                    }, 'div');
                    document.querySelector('.mui-popup-input input').type = 'number';
                },
                _addFriend: function (mobile) {
                    var that = this
                    post("contact/add-friend", { mobile: mobile, userId: userId() }, function (res) {
                        if (res.code == 0) {
                            mui.toast("添加成功...");
                            that.loadFriends();
                        } else {
                            mui.toast(res.msg);
                        }
                    })
                },
                joinCommunity: function () {
                    var that = this;
                    mui.prompt('', '请输入群号', '加群', ['取消', '确认'], function (e) {
                        if (e.index == 1) {
                            if (isNaN(e.value) || e.value <= 0) {
                                mui.toast('格式错误...');
                            } else {
                                // mui.toast(e.value);
                                that._joinCommunity(e.value)
                            }
                        } else {
                            //mui.toast('您取消了入库');
                        }
                    }, 'div');
                    document.querySelector('.mui-popup-input input').type = 'number';
                },
                _joinCommunity: function (groupId) {
                    var that = this;
                    post("contact/join-community", { dstId: groupId, userId: userId() }, function (res) {
                        if (res.code == 0) {
                            mui.toast("加入群成功...");
                            that.loadCommunities();
                        } else {
                            mui.toast(res.msg);
                        }
                    })
                },
                quit: function () {
                    sessionStorage.removeItem("userId")
                    sessionStorage.removeItem("userInfo")
                    location.href = "/user/login.shtml"
                }
            },
            watch: {
                "win": function (n, o) {
                    // console.log("watch", o, n)
                    if (n != "main") {
                        document.getElementById("menubar").style.display = "none";
                    } else {
                        document.getElementById("menubar").style.display = "block";
                    }
                }
            }
        }
    )
</script>
{{end}}